<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".study18activity" />
        <activity android:name=".study17activity" />
        <activity android:name=".study16activity" />
        <activity android:name=".study15activity" />
        <activity android:name=".study14activity" />
        <activity android:name=".study13activity" />
        <activity android:name=".study12activity" />
        <activity android:name=".study11activity" />
        <activity android:name=".study10activity" />
        <activity android:name=".study9activity" />
        <activity android:name=".study8activity" />
        <activity android:name=".study7activity" />
        <activity android:name=".study6activity" />
        <activity android:name=".study5activity" />
        <activity android:name=".study4activity" />
        <activity android:name=".study3activity" />
        <activity android:name=".study2activity" />
        <activity android:name=".study1activity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".Home2Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>